{% extends "base.html" %}

{% block title %}
  Cuadros
{% endblock title %}

{% block body %}
<div class="container">
  <h3>Lista de cuadros</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Galería</th>
        <th scope="col">Autor</th>
        <th scope="col"><a type="button" class="btn btn-info add-new" href="/nuevo_cuadro">Añadir</a></th>
      </tr>
    </thead>
    <tbody>
      {% for data in dataset %}
      <tr>
        <td>{{ data.nombre }}</td>
        <td>{{ data.galeria }}</td>
        <td>{{ data.autor }}</td>
        <td>
          {% if user.is_authenticated and user.is_staff %}
            <a type="button" class="btn btn-warning" href="/modificar_cuadro/{{ data.id }}">Actualizar</a>
            <a type="button" class="btn btn-danger" href="/borrar_cuadro/{{ data.id }}">Borrar</a>
          {% endif %}
        </td>
      </tr>        
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock body %}