{% extends "base.html" %}

{% block title %}
  Página principal
{% endblock title %}

{% block body %}
  <div class="container">
    <form method="post" class="px-4 py-3" style="margin: 18vw;">
        <div class="form-group">
          <label for="sel1">Clave</label>
          <select class="form-select" aria-label="Default select example" name="clave">
            <option selected value="name">Nombre</option>
            <option value="num">Número</option>
          </select>
        </div>
        <div class="form-group">
          <label for="val1">Valor</label>
          <input class="form-control" name="valor" placeholder="Pikachu, 2...">
        </div>
        <button type="submit" value="busqueda" class="btn btn-primary">Buscar</button>
      </form>
  </div>
{% endblock body %}