{% extends "base.html" %}

{% block title %}
  Pokemons
{% endblock title %}

{% block body %}
  <div class="container">
    {{ pagination.links }}
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Pokemons</th>
          </tr>
        </thead>
        <tbody>
          {% for pokemon in pokemons %}
          <tr>
            <td>{{ loop.index + (page - 1) * per_page }}</td>
            <td>{{ pokemon.name }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {{ pagination.links }}
  </div>
{% endblock body %}