{% extends "base.html" %}

{% block title %}
  Pokemons
{% endblock title %}

{% block body %}
<div class="container">
    <h3>Lista de pokemons</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Número</th>
          <th scope="col">Nombre</th>
          <th scope="col">Acción</th>
          <th scope="col">
            <a type="button" class="btn btn-info add-new" id="btn-add">Añadir</a>
          </th>
        </tr>
      </thead>
      <tbody id="tabla-pokemons">
        {% for pokemon in lista_pokemons %}
        <tr>
          <td>{{ pokemon.num }}</td>
          <td>{{ pokemon.name }}</td>
          <td>
            <a type="button" class="btn btn-warning" id="btn-update" href="/actualiza-pokemon/{{ pokemon.id }}">Actualizar</a>
            <a type="button" class="btn btn-danger" id="btn-delete" href="/borrar-pokemon/{{ pokemon.id }}">Borrar</a>
          </td>
        </tr>        
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}